<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="100" alt="Angular Logo" (click)="encerar()" src="/src/assets/UCE-logo.jpg">
</div>

<div>
  <p-button label="Exactitud del modelo" (onClick)="exactitud()"></p-button> 
  {{ resultExactitud }}
</div>
<br/>
<div>
  <p-button label="Matriz de confusion" (onClick)="modelo()"></p-button> 
  {{ resultModelo }}
</div>
<ngx-loading-bar></ngx-loading-bar>
<br/>   
<p-table [value]="modelos" *ngIf="modelos?.length > 0" class="table">
  <ng-template pTemplate="header">
      <tr>
          <th></th>
          <th>Negativo -1</th>
          <th>Neutro 0</th>
          <th>Positivo 1</th>
          <th>Porcentaje error</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-modelo>
      <tr>
          <td>{{modelo.real}}</td>
          <td>{{modelo.negativo}}</td>
          <td>{{modelo.neutro}}</td>
          <td>{{modelo.positivo}}</td>
          <td>{{modelo.error}}</td>
      </tr>
  </ng-template>
</p-table>

